@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;700&display=swap");

html,
body {
    font-family: "Lexend Deca", sans-serif;
}

.htmx-progress {
    opacity: 0;
    transition: all 1s ease;
}

.htmx-progress.htmx-request {
    opacity: 1;
    transition-delay: 500ms;
}